<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>DShop-1612115</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="all,follow" />
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css" />
    <!-- Font Awesome CSS-->
    <link
      rel="stylesheet"
      href="/vendor/font-awesome/css/font-awesome.min.css"
    />
    <!-- Google fonts - Roboto -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700"
    />
    <!-- owl carousel-->
    <link
      rel="stylesheet"
      href="/vendor/owl.carousel/assets/owl.carousel.css"
    />
    <link
      rel="stylesheet"
      href="/vendor/owl.carousel/assets/owl.theme.default.css"
    />
    <!-- theme stylesheet-->
    <link
      rel="stylesheet"
      href="/css/style.default.css"
      id="theme-stylesheet"
    />
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="/css/custom.css" />
    <!-- Favicon-->
    <link rel="shortcut icon" href="favicon.png" />
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script
    ><![endif]-->
  </head>
  <body>
    <!-- navbar-->
    <header class="header mb-5">
      <!--
    *** TOPBAR ***
    _________________________________________________________
    -->
      -->
      <div id="top">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 offer mb-3 mb-lg-0">
              <a href="#" class="btn btn-success btn-sm">Ưu đãi trong ngày</a
              ><a href="#" class="ml-1">Giảm 35% và không quá $50!</a>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
              <ul class="menu list-inline mb-0">
                <li class="list-inline-item">
                  <a href="#" data-toggle="modal" data-target="#login-modal"
                    >Đăng nhập</a
                  >
                </li>
                <li class="list-inline-item">
                  <a href="/register">Đăng kí</a>
                </li>
                <li class="list-inline-item">
                  <a href="/contact">Liên lạc</a>
                </li>
                <li class="list-inline-item"><a href="#">Về DShop</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!--  Form dang nhap -->
        <div
          id="login-modal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="Login"
          aria-hidden="true"
          class="modal fade"
        >
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Đăng nhập</h5>
                <button
                  type="button"
                  data-dismiss="modal"
                  aria-label="Close"
                  class="close"
                >
                  <span aria-hidden="true">×</span>
                </button>
              </div>

              <div class="modal-body">
                <form action="/customer-orders" method="post">
                  <div class="form-group">
                    <input
                      id="email-modal"
                      type="text"
                      placeholder="Email"
                      class="form-control"
                    />
                  </div>
                  <div class="form-group">
                    <input
                      id="password-modal"
                      type="password"
                      placeholder="Password"
                      class="form-control"
                    />
                  </div>
                  <p class="text-center">
                    <button class="btn btn-primary">
                      <i class="fa fa-sign-in"></i> Đăng nhập
                    </button>
                  </p>
                </form>
                <p class="text-center text-muted">Bạn chưa có tài khoản?</p>
                <p class="text-center text-muted">
                  <a href="/register"><strong>Đăng kí!!!</strong></a> Dễ dàng
                  thực hiện và cung cấp cho bạn quyền truy cập vào giảm giá đặc
                  biệt và nhiều hơn nữa!
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- *** TOP BAR END ***-->
      </div>
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a href="/" class="navbar-brand home"
            ><img
              src="/logo.png"
              alt="Obaju logo"
              class="d-none d-md-inline-block"
            /><img
              src="/logo-small.png"
              alt="Obaju logo"
              class="d-inline-block d-md-none"
            /><span class="sr-only">DShop - go to homepage</span></a
          >
          <div class="navbar-buttons">
            <button
              type="button"
              data-toggle="collapse"
              data-target="#navigation"
              class="btn btn-outline-secondary navbar-toggler"
            >
              <span class="sr-only">Toggle navigation</span
              ><i class="fa fa-align-justify"></i>
            </button>
            <button
              type="button"
              data-toggle="collapse"
              data-target="#search"
              class="btn btn-outline-secondary navbar-toggler"
            >
              <span class="sr-only">Toggle search</span
              ><i class="fa fa-search"></i></button
            ><a
              href="basket.html"
              class="btn btn-outline-secondary navbar-toggler"
              ><i class="fa fa-shopping-cart"></i
            ></a>
          </div>
          <div id="navigation" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a href="#" class="nav-link ">Trang chủ</a>
              </li>
              <li class="nav-item">
                <a href="/category/1" class="nav-link ">NAM</a>
              </li>
              <li class="nav-item">
                <a href="/category" class="nav-link ">NỮ</a>
              </li>
              <li class="nav-item">
                <a href="/category" class="nav-link ">TRẺ EM</a>
              </li>

              <li class="nav-item dropdown menu-large">
                <a
                  href="#"
                  data-toggle="dropdown"
                  data-hover="dropdown"
                  data-delay="200"
                  class="dropdown-toggle nav-link"
                  >Template<b class="caret"></b
                ></a>
                <ul class="dropdown-menu megamenu">
                  <li>
                    <div class="row">
                      <div class="col-md-6 col-lg-3">
                        <h5>Shop</h5>
                        <ul class="list-unstyled mb-3">
                          <li class="nav-item">
                            <a href="/" class="nav-link">Trang chủ</a>
                          </li>
                          <li class="nav-item">
                            <a href="/category" class="nav-link"
                              >Danh mục- Sidebar trái</a
                            >
                          </li>
                          <li class="nav-item">
                            <a href="/category-right" class="nav-link"
                              >Danh mục- Sidebar phải</a
                            >
                          </li>
                          <li class="nav-item">
                            <a href="/category-full" class="nav-link"
                              >Danh mục- Full</a
                            >
                          </li>
                          <li class="nav-item">
                            <a href="/detail" class="nav-link"
                              >Chi tiết sản phẩm</a
                            >
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-6 col-lg-3">
                        <h5>Người dùng</h5>
                        <ul class="list-unstyled mb-3">
                          <li class="nav-item">
                            <a href="/register" class="nav-link"
                              >Đăng kí/ Đăng nhập</a
                            >
                          </li>
                          <li class="nav-item">
                            <a href="/customer-orders" class="nav-link"
                              >Lịch sử đặt hàng</a
                            >
                          </li>
                          <li class="nav-item">
                            <a href="/customer-order" class="nav-link"
                              >Lịch sử chi tiết
                            </a>
                          </li>
                          <li class="nav-item">
                            <a href="/customer-wishlist" class="nav-link"
                              >Yêu thích</a
                            >
                          </li>
                          <li class="nav-item">
                            <a href="/customer-account" class="nav-link"
                              >Tài khoản khách hàng/ Thay đổi mật khẩu</a
                            >
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-6 col-lg-3">
                        <h5>Qui trình đặt hàng</h5>
                        <ul class="list-unstyled mb-3">
                          <li class="nav-item">
                            <a href="/basket" class="nav-link">Giỏ hàng</a>
                          </li>
                          <li class="nav-item">
                            <a href="/checkout1" class="nav-link"
                              >Đặt hàng- Bước 1</a
                            >
                          </li>
                          <li class="nav-item">
                            <a href="/checkout2" class="nav-link"
                              >Đặt hàng- Bước 2</a
                            >
                          </li>
                          <li class="nav-item">
                            <a href="/checkout3" class="nav-link"
                              >Đặt hàng- Bước 3</a
                            >
                          </li>
                          <li class="nav-item">
                            <a href="/checkout4" class="nav-link"
                              >Đặt hàng- Bước 4</a
                            >
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-6 col-lg-3">
                        <h5>Trang và Blog khác</h5>
                        <ul class="list-unstyled mb-3">
                          <li class="nav-item">
                            <a href="/blog" class="nav-link">Danh sách Blog</a>
                          </li>
                          <li class="nav-item">
                            <a href="/post" class="nav-link"
                              >Blog-Chi tiết bài viết</a
                            >
                          </li>
                          <li class="nav-item">
                            <a href="/faq" class="nav-link">FAQ</a>
                          </li>
                          <!--  <li class="nav-item"><a href="text.html" class="nav-link">Text page</a></li>
                      <li class="nav-item"><a href="text-right.html" class="nav-link">Text page - right sidebar</a></li> -->
                          <li class="nav-item">
                            <a href="/404" class="nav-link">Trang 404 </a>
                          </li>
                          <li class="nav-item">
                            <a href="/contact" class="nav-link">Liên hệ</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
            <div class="navbar-buttons d-flex justify-content-end">
              <!-- /.nav-collapse-->
              <div
                id="search-not-mobile"
                class="navbar-collapse collapse"
              ></div>
              <a
                data-toggle="collapse"
                href="#search"
                class="btn navbar-btn btn-primary d-none d-lg-inline-block"
                ><span class="sr-only">Toggle search</span
                ><i class="fa fa-search"></i
              ></a>
              <div
                id="basket-overview"
                class="navbar-collapse collapse d-none d-lg-block"
              >
                <a href="/basket" class="btn btn-primary navbar-btn"
                  ><i class="fa fa-shopping-cart"></i
                  ><span>3 items in cart</span></a
                >
              </div>
            </div>
          </div>
        </div>
      </nav>
      <div id="search" class="collapse">
        <div class="container">
          <form role="search" class="ml-auto">
            <div class="input-group">
              <input type="text" placeholder="Search" class="form-control" />
              <div class="input-group-append">
                <button type="button" class="btn btn-primary">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </header>
    <div id="all">
      <div id="content">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <!-- breadcrumb-->
              <!-- <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                  <li class="breadcrumb-item"><a href="#">Nữ</a></li>
                  <li class="breadcrumb-item"><a href="#">Chi tiết</a></li>
                  <li aria-current="page" class="breadcrumb-item active">
                    <%= result[0].tenquanao%>
                  </li>
                </ol>
              </nav> -->
            </div>
            <div class="col-lg-3 order-2 order-lg-1">
              <!--
              *** MENUS AND FILTERS ***
              _________________________________________________________
              -->
              <div class="card sidebar-menu mb-4">
                <div class="card-header">
                  <h3 class="h4 card-title">Categories</h3>
                </div>
                <div class="card-body">
                  <ul class="nav nav-pills flex-column category-menu">
                    <li>
                      <a href="/category/1" class="nav-link active"
                        >Nam <span class="badge badge-light"><% TongDanhMucNam.forEach(function (i){%> <%=
                          i.soluong%> <%}) %></span></a
                      >
                      <ul class="list-unstyled">
                        <% DanhMucNam.forEach(function (i){%>
                        <li>
                          <a
                            href="/category/<%= i.doituong%>/<%= i.iddanhmuc%>"
                            class="nav-link"
                            ><%= i.tendanhmuc%>
                          </a>
                        </li>
                        <%}) %>
                      </ul>
                    </li>
                    <li>
                      <a href="/category/2" class="nav-link active"
                        >Nữ <span class="badge badge-light"><% TongDanhMucNu.forEach(function (i){%> <%=
                          i.soluong%> <%}) %></span></a
                      >
                      <ul class="list-unstyled">
                        <% DanhMucNu.forEach(function (i){%>
                        <li>
                          <a
                            href="/category/<%= i.doituong%>/<%= i.iddanhmuc%>"
                            class="nav-link"
                            ><%= i.tendanhmuc%>
                          </a>
                        </li>
                        <%}) %>
                      </ul>
                    </li>
                    <li>
                      <a href="/category/3" class="nav-link active"
                        >Trẻ em <span class="badge badge-light"><% TongDanhMucTreEm.forEach(function (i){%> <%=
                          i.soluong%> <%}) %></span></a
                      >
                      <ul class="list-unstyled">
                        <% DanhMucTreEm.forEach(function (i){%>
                        <li>
                          <a
                            href="/category/<%= i.doituong%>/<%= i.iddanhmuc%>"
                            class="nav-link"
                            ><%= i.tendanhmuc%>
                          </a>
                        </li>
                        <%}) %>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="card sidebar-menu mb-4">
                <div class="card-header">
                  <h3 class="h4 card-title">
                    Giá
                    <a href="#" class="btn btn-sm btn-danger pull-right"
                      ><i class="fa fa-times-circle"></i> Xóa</a
                    >
                  </h3>
                </div>
                <div class="card-body">
                  <form>
                    <div class="form-group">
                      <div class="checkbox">
                        <label> <input type="checkbox" /> 0-100.000 </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" /> 100.000-200.000
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" /> 200.000-500.000
                        </label>
                      </div>
                      <div class="checkbox">
                        <label> <input type="checkbox" /> 500.000-$$ </label>
                      </div>
                    </div>
                    <button class="btn btn-default btn-sm btn-primary">
                      <i class="fa fa-pencil"></i> Chấp nhận
                    </button>
                  </form>
                </div>
              </div>
              <!-- *** MENUS AND FILTERS END ***-->
              <div class="banner">
                <a href="#"
                  ><img src="/banner.jpg" alt="sales 2014" class="img-fluid"
                /></a>
              </div>
            </div>
            <div class="col-lg-9 order-1 order-lg-2">
              <div id="productMain" class="row">
                <div class="col-md-6">
                  <div
                    data-slider-id="1"
                    class="owl-carousel shop-detail-carousel"
                  >
                    <div class="item">
                      <img src="/<%= result[0].anhquanao%>" alt="" class="img-fluid" />
                    </div>
                    <div class="item">
                      <img src="/result[0].anhquanao" alt="" class="img-fluid" />
                    </div>
                    <div class="item">
                      <img src="/result[0].anhquanao" alt="" class="img-fluid" />
                    </div>
                  </div>
                  <div class="ribbon sale">
                    <div class="theribbon">SALE</div>
                    <div class="ribbon-background"></div>
                  </div>
                  <!-- /.ribbon-->
                  <div class="ribbon new">
                    <div class="theribbon">NEW</div>
                    <div class="ribbon-background"></div>
                  </div>
                  <!-- /.ribbon-->
                </div>
                <div class="col-md-6">
                  <div class="box">
                    <h1 class="text-center"><%= result[0].tenquanao%></h1>
                    <p class="goToDescription">
                      <a href="#details" class="scroll-to"
                        >Scroll để xem chi tiết sản phẩm</a
                      >
                    </p>
                    <p class="price"><%= result[0].gia*(100-result[0].giamgia)/100%> đ</p>
                    <p class="text-center buttons">
                      <a href="/basket" class="btn btn-primary"
                        ><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</a
                      ><a href="/basket" class="btn btn-outline-primary"
                        ><i class="fa fa-heart"></i> Yêu thích
                      </a>
                    </p>
                  </div>
                  <div data-slider-id="1" class="owl-thumbs">
                    <button class="owl-thumb-item">
                      <img
                        src="/detailsquare.jpg"
                        alt=""
                        class="img-fluid"
                      />
                    </button>
                    <button class="owl-thumb-item">
                      <img
                        src="/detailsquare2.jpg"
                        alt=""
                        class="img-fluid"
                      />
                    </button>
                    <button class="owl-thumb-item">
                      <img
                        src="/detailsquare3.jpg"
                        alt=""
                        class="img-fluid"
                      />
                    </button>
                  </div>
                </div>
              </div>
              <div id="details" class="box">
                <p></p>
                <h4>Chi tiết sản phẩm</h4>
                <p>
                  Áo ren trắng, dệt, có cổ tròn, tay ngắn, có lớp lót dệt kim
                  kèm theo
                </p>
                <h4>Chất liệu &amp; Bảo quản</h4>
                <ul>
                  <li>Polyester</li>
                  <li>Giặt tay</li>
                </ul>
                <h4>Size &amp; Fit</h4>
                <ul>
                  <li>Đầy đủ size</li>
                  <li>Người mẫu (cao 5'8 "và ngực 33") đang mặc size S</li>
                </ul>
                <blockquote>
                  <p>
                    <em
                      >Xác định phong cách trong mùa này với loạt áo mới hợp
                      thời trang của Armani, được chế tác với các chi tiết phức
                      tạp. Tạo ra một tuyên bố sang trọng bằng cách kết hợp số
                      ren này với quần jean skinny và máy bơm.</em
                    >
                  </p>
                </blockquote>
                <hr />
                <div class="social">
                  <h4>Chia sẻ với bạn bè</h4>
                  <p>
                    <a href="#" class="external facebook"
                      ><i class="fa fa-facebook"></i></a
                    ><a href="#" class="external gplus"
                      ><i class="fa fa-google-plus"></i></a
                    ><a href="#" class="external twitter"
                      ><i class="fa fa-twitter"></i></a
                    ><a href="#" class="email"
                      ><i class="fa fa-envelope"></i
                    ></a>
                  </p>
                </div>
              </div>
              <div class="row same-height-row">
                <div class="col-md-3 col-sm-6">
                  <div class="box same-height">
                    <h3>Sản phẩm bạn có thể sẽ thích</h3>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="product same-height">
                    <div class="flip-container">
                      <div class="flipper">
                        <div class="front">
                          <a href="detail.html"
                            ><img
                              src="img/product2.jpg"
                              alt=""
                              class="img-fluid"
                          /></a>
                        </div>
                        <div class="back">
                          <a href="detail.html"
                            ><img
                              src="img/product2_2.jpg"
                              alt=""
                              class="img-fluid"
                          /></a>
                        </div>
                      </div>
                    </div>
                    <a href="detail.html" class="invisible"
                      ><img src="img/product2.jpg" alt="" class="img-fluid"
                    /></a>
                    <div class="text">
                      <h3>Fur coat</h3>
                      <p class="price">$143</p>
                    </div>
                  </div>
                  <!-- /.product-->
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="product same-height">
                    <div class="flip-container">
                      <div class="flipper">
                        <div class="front">
                          <a href="detail.html"
                            ><img
                              src="img/product1.jpg"
                              alt=""
                              class="img-fluid"
                          /></a>
                        </div>
                        <div class="back">
                          <a href="detail.html"
                            ><img
                              src="img/product1_2.jpg"
                              alt=""
                              class="img-fluid"
                          /></a>
                        </div>
                      </div>
                    </div>
                    <a href="detail.html" class="invisible"
                      ><img src="img/product1.jpg" alt="" class="img-fluid"
                    /></a>
                    <div class="text">
                      <h3>Fur coat</h3>
                      <p class="price">$143</p>
                    </div>
                  </div>
                  <!-- /.product-->
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="product same-height">
                    <div class="flip-container">
                      <div class="flipper">
                        <div class="front">
                          <a href="detail.html"
                            ><img
                              src="img/product3.jpg"
                              alt=""
                              class="img-fluid"
                          /></a>
                        </div>
                        <div class="back">
                          <a href="detail.html"
                            ><img
                              src="img/product3_2.jpg"
                              alt=""
                              class="img-fluid"
                          /></a>
                        </div>
                      </div>
                    </div>
                    <a href="detail.html" class="invisible"
                      ><img src="img/product3.jpg" alt="" class="img-fluid"
                    /></a>
                    <div class="text">
                      <h3>Fur coat</h3>
                      <p class="price">$143</p>
                    </div>
                  </div>
                  <!-- /.product-->
                </div>
              </div>

            </div>
            <!-- /.col-md-9-->
          </div>
        </div>
      </div>
    </div>
    <!--
    *** FOOTER ***
    _________________________________________________________
    -->
    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <h4 class="mb-3">Trang</h4>
            <ul class="list-unstyled">
              <li><a href="text.html">Về chúng tôi</a></li>
              <li><a href="text.html">Luật và điều khoản</a></li>
              <li><a href="faq.html">FAQ</a></li>
              <li><a href="contact.html">Liên lạc</a></li>
            </ul>
            <hr />
            <h4 class="mb-3">Người dùng</h4>
            <ul class="list-unstyled">
              <li>
                <a href="#" data-toggle="modal" data-target="#login-modal"
                  >Đăng nhập</a
                >
              </li>
              <li><a href="register.html">Đăng kí</a></li>
            </ul>
          </div>
          <!-- /.col-lg-3-->
          <div class="col-lg-3 col-md-6">
            <h4 class="mb-3">Lựa chọn hàng đầu</h4>
            <h5>Nam</h5>
            <ul class="list-unstyled">
              <li><a href="/category">Áo sơ mi</a></li>
              <li><a href="/category">Áo thun</a></li>
              <li><a href="/category">Giày</a></li>
            </ul>
            <h5>Nữ</h5>
            <ul class="list-unstyled">
              <li><a href="/category">Giày cao gót</a></li>
              <li><a href="/category">Giày Bitis</a></li>
              <li><a href="/category">Mỹ phẩm</a></li>
              <li><a href="/category">Nón</a></li>
            </ul>
          </div>
          <!-- /.col-lg-3-->
          <div class="col-lg-3 col-md-6">
            <h4 class="mb-3">Địa chỉ</h4>
            <p>
              <strong>DShop</strong><br />437 Trần Phú<br />phường 7<br />
              quận 5<br />TPHCM<br />
            </p>
            <a href="contact.html">Đi đến trang liên lạc</a>
            <hr class="d-block d-md-none" />
          </div>
          <!-- /.col-lg-3-->
          <div class="col-lg-3 col-md-6">
            <h4 class="mb-3">Đăng kí tin mới</h4>
            <p class="text-muted">
              Bạn đam mê quần áo, hãy để lại email và chúng tôi sẽ cung cấp
              thông tin sản phẩm mới nhất.
            </p>
            <form>
              <div class="input-group">
                <input type="text" class="form-control" /><span
                  class="input-group-append"
                >
                  <button type="button" class="btn btn-outline-secondary">
                    Xong!
                  </button></span
                >
              </div>
              <!-- /input-group-->
            </form>
            <hr />
            <h4 class="mb-3">Kết nối bằng</h4>
            <p class="social">
              <a href="#" class="facebook external"
                ><i class="fa fa-facebook"></i></a
              ><a href="#" class="twitter external"
                ><i class="fa fa-twitter"></i></a
              ><a href="#" class="instagram external"
                ><i class="fa fa-instagram"></i></a
              ><a href="#" class="gplus external"
                ><i class="fa fa-google-plus"></i></a
              ><a href="#" class="email external"
                ><i class="fa fa-envelope"></i
              ></a>
            </p>
          </div>
          <!-- /.col-lg-3-->
        </div>
        <!-- /.row-->
      </div>
      <!-- /.container-->
    </div>
    <!-- /#footer-->
    <!-- *** FOOTER END ***-->

    <!--
    *** COPYRIGHT ***
    _________________________________________________________
    -->
    <div id="copyright">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-2 mb-lg-0">
            <p class="text-center text-lg-left">©2019 DShop</p>
          </div>
          <div class="col-lg-6">
            <p class="text-center text-lg-right">
              Thiết kế bởi
              <a href="https://bootstrapious.com/p/big-bootstrap-tutorial"
                >1612115</a
              >
              <!-- If you want to remove this backlink, pls purchase an Attribution-free License @ https://bootstrapious.com/p/obaju-e-commerce-template. Big thanks!-->
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- *** COPYRIGHT END ***-->
    <!-- JavaScript files-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/jquery.cookie/jquery.cookie.js"></script>
    <script src="/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="/vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.js"></script>
    <script src="/js/front.js"></script>
  </body>
</html>
